---
import Base from "@layouts/Base.astro";
import Header from "@sections/Header.astro";
import Hero from "@sections/Hero.astro";
import Footer from "@sections/Footer.astro";
---

<Base>
  <title slot="title">Art Gallery Website - Home</title>
  <body>
    <Header />
    <Hero />
    <Footer />
  </body>
</Base>
