---
import Base from "@layouts/Base.astro";
import Map from "@sections/Map.astro";
import LocationSection from "@sections/Location.astro";
import Footer from "@sections/Footer.astro";
---

<Base>
  <title slot="title">Location</title>
  <body>
    <Map />
    <LocationSection />
    <Footer />
  </body>
</Base>
