---
import { Image } from "astro:assets";
import arrowRight from "@assets/icon-arrow-right.svg";
import arrowLeft from "@assets/icon-arrow-left.svg";
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

type Props = HTMLAttributes<"a"> & { intent?: "next" | "previous" };
const { class: className, intent = "next", ...rest } = Astro.props;

const classes = twMerge("flex group", className);
---

<a class={classes} {...rest}>
  {
    intent === "previous" && (
      <span class="bg-accent p-6 transition-colors group-hover:bg-primary group-focus:bg-primary">
        <Image src={arrowLeft} alt="" />
      </span>
    )
  }
  <span
    class="bg-primary px-8 py-6 font-heading text-[20px] font-extrabold uppercase tracking-[3.64px] text-white transition-colors group-hover:bg-accent group-focus:bg-accent"
  >
    <slot />
  </span>
  {
    intent === "next" && (
      <span class="bg-accent p-6 transition-colors group-hover:bg-primary group-focus:bg-primary">
        <Image src={arrowRight} alt="" />
      </span>
    )
  }
</a>
