---

---

<section
  class="grid gap-y-4 px-4 tablet:grid-cols-[280px_1fr_280px] tablet:grid-rows-[400px_313px_396px] tablet:gap-[11px] tablet:px-10 desktop:mx-auto desktop:max-w-[calc(80px+1110px)] desktop:grid-cols-[445px_1fr_445px] desktop:grid-rows-[400px_313px_377px] desktop:gap-[30px]"
>
  <picture class="tablet:order-2 tablet:col-span-2">
    <source
      srcset="./assets/desktop/image-grid-1.jpg, ./assets/desktop/image-grid-1@2x.jpg 2x"
      media="(min-width: 1440px)"
    />
    <source
      srcset="./assets/tablet/image-grid-1.jpg, ./assets/tablet/image-grid-1@2x.jpg 2x"
      media="(min-width: 768px)"
    />
    <source
      srcset="./assets/mobile/image-grid-1.jpg, ./assets/mobile/image-grid-1@2x.jpg 2x"
    />
    <img
      src="./assets/mobile/image-grid-1.jpg"
      alt=""
      class="h-full w-full object-cover"
    />
  </picture>
  <div
    class="flex flex-col gap-y-[21px] pb-[16px] pt-[9px] tablet:order-1 tablet:justify-center tablet:p-0"
  >
    <h2
      class="text-heading-m text-primary tablet:max-w-[8ch] desktop:max-w-[10ch]"
    >
      Your Day At The Gallery
    </h2>
    <p class="text-body-m text-subtle tablet:max-w-[20ch] desktop:max-w-[23ch]">
      Wander through our distinct collections and find new insights about our
      artists. Dive into the details of their creative process.
    </p>
  </div>
  <picture class="tablet:order-3 tablet:col-span-2 tablet:row-span-2">
    <source
      srcset="./assets/desktop/image-grid-2.jpg, ./assets/desktop/image-grid-2@2x.jpg 2x"
      media="(min-width: 1440px)"
    />
    <source
      srcset="./assets/tablet/image-grid-2.jpg, ./assets/tablet/image-grid-2@2x.jpg 2x"
      media="(min-width: 768px)"
    />
    <source
      srcset="./assets/mobile/image-grid-2.jpg, ./assets/mobile/image-grid-2@2x.jpg 2x"
    />
    <img
      src="./assets/mobile/image-grid-2.jpg"
      alt=""
      class="h-full w-full object-cover"
    />
  </picture>
  <picture class="tablet:order-4">
    <source
      srcset="./assets/desktop/image-grid-3.jpg, ./assets/desktop/image-grid-3@2x.jpg 2x"
      media="(min-width: 1440px)"
    />
    <source
      srcset="./assets/tablet/image-grid-3.jpg, ./assets/tablet/image-grid-3@2x.jpg 2x"
      media="(min-width: 768px)"
    />
    <source
      srcset="./assets/mobile/image-grid-3.jpg, ./assets/mobile/image-grid-3@2x.jpg 2x"
    />
    <img
      src="./assets/mobile/image-grid-3.jpg"
      alt=""
      class="h-full w-full object-cover"
    />
  </picture>
  <div
    class="flex flex-col justify-center gap-y-6 bg-primary px-6 py-12 text-white tablet:order-5 desktop:px-12 desktop:py-16"
  >
    <h2 class="text-heading-m text-white">Come & Be Inspired</h2>
    <p class="text-body-m text-white">
      We're excited to welcome you to our gallery and see how our collections
      influence you.
    </p>
  </div>
</section>
