---

---

<section class="bg-primary text-white">
  <div
    class="grid gap-y-12 px-4 py-[52px] tablet:grid-cols-[1fr_398px] tablet:gap-x-[68px] tablet:px-10 tablet:py-[84px] desktop:mx-auto desktop:max-w-[calc(80px+1110px)] desktop:grid-cols-[1fr_540px]"
  >
    <h1 class="text-heading-l">
      Our
      <br class="hidden desktop:block" />
      Location
    </h1>
    <div class="flex flex-col gap-y-5 desktop:gap-y-6">
      <h2 class="text-heading-s text-accent">99 King Street</h2>
      <ul class="text-body-m">
        <li>Newport</li>
        <li>RI 02840</li>
        <li>United States of America</li>
      </ul>
      <p class="text-body-m desktop:mt-2">
        Our newly opened gallery is located near the Edward King House on 99
        King Street, the Modern Art Gallery is free to all visitors and open
        seven days a week from 8am to 9pm.
      </p>
    </div>
  </div>
</section>
