---
import Link from "@components/Link.astro";
---

<section class="relative">
  <Link
    href="/"
    intent="previous"
    class="absolute left-0 top-0 tablet:left-10 desktop:left-[156px]"
  >
    Back To Home
  </Link>
  <picture class="">
    <source
      srcset="./assets/desktop/image-map.png, ./assets/desktop/image-map@2x.png 2x"
      media="(min-width: 1024px)"
    />
    <source
      srcset="./assets/tablet/image-map.png, ./assets/tablet/image-map@2x.png 2x"
      media="(min-width: 768px)"
    />
    <source
      srcset="./assets/mobile/image-map.png, ./assets/mobile/image-map@2x.png 2x"
    />
    <img src="./assets/mobile/image-map.png" alt="" class="w-full" />
  </picture>
</section>
